body {
  padding: 3px !important;
}

.wrapper--green,
.feature-item,
.catalog-item,
.callback,
.header-top,
.header-logo,
.container,
.main-navigation,
.footer-copyright {
  position: relative;
}

.wrapper--green::before,
.feature-item::before,
.catalog-item::before,
.callback::before,
.header-top::before,
.header-logo::before,
.main-navigation::before,
.container::before,
.footer-copyright::before {
  content: "";
  position: absolute;
  z-index: 1;
  height: 24px;
  padding: 2px 5px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  font-family: "Courier New", "monotype";
  text-transform: none;
  white-space: nowrap;
}

.wrapper--green {
  background-color: rgba(0, 0, 255, 0.1);
  box-shadow: 0 0 0 3px blue;
}

.wrapper--green::before {
  content: ".wrapper--green";
  top: 0;
  left: 0;
  color: white;
  background-color: blue;
}

.feature-item,
.callback,
.header-top {
  background-color: rgba(0, 255, 0, 0.1);
  box-shadow: 0 0 0 3px green;
}

.feature-item::before,
.catalog-item::before,
.callback::before,
.header-top::before {
  top: 0;
  left: 0;
  font-size: 14px;
  color: white;
  background-color: green;
}

section::before {
  top: 0;
  left: 0;
  font-size: 14px;
  color: white;
  background-color: rgb(35, 204, 226);
}

.main-navigation,
.catalog-item,
.footer-copyright {
  display: block;
  background-color: rgba(255, 255, 0, 0.2);
  box-shadow: 0 0 0 3px yellow;
}

.main-navigation::before,
.catalog-item::before,
.footer-copyright::before {
  top: -3px;
  left: -3px;
  font-size: 14px;
  color: #333333;
  background-color: yellow;
}

.main-navigation::before {
  content: "main-navigation";
}

.features::before {
  content: ".features";
}

.feature-item::before {
  content: ".feature-item";
  right: 0;
  left: auto;
}

.catalog-item::before {
  content: ".catalog-item";
}

.callback::before {
  content: ".callback";
}

.callback-form::before {
  content: ".callback-form";
}

.footer-copyright::before {
  content: ".footer-copyright";
}

section::before {
  content: "section";
}

.container::before {
  content: "container";
}

.container::before {
  top: 0;
  left: 0;
  font-size: 14px;
  color: white;
  background-color: rgb(78, 46, 16);
}


ul,
.header-navigation {
  box-shadow: 0 0 0 3px rgb(55, 1, 66);
}

li {
  box-shadow: 0 0 0 3px rgb(186, 33, 216);
}

a {
  box-shadow: 0 0 0 3px rgb(245, 20, 20);
}

header,
section {
  box-shadow: 0 0 0 3px rgb(7, 234, 241);
}

main>div>div,
fieldset {
  box-shadow: 0 0 0 3px rgb(7, 241, 19);
}

.container {
  box-shadow: 0 0 0 3px rgb(78, 46, 16);
}
