:root {
  --green-bg: #849D8F;
  --bluegrey-bg: #8996A6;
  --brown-bg: #9D8B84;
  --basic-white: #ffffff;
  --white20-bg: rgba(255, 255, 255, 0.2);
  --white40-bg: rgba(255, 255, 255, 0.4);
  --white80-bg: rgba(255, 255, 255, 0.8);
  --basic-grey: #323232;
  --basic-grey20: rgba(50, 50, 50, 0.2);
  --basic-lightorange: #FBDED7;
  --basic-middleorange: #F6B5A5;
  --basic-orange: #D07058;
  --basic-beige: #F8F7F4;
  --gradientbutton-lightorange: #F26843;
  --gradientbutton-darkorange: #E74A35;
  --button-active-black07: rgba(0, 0, 0, 0.07);
  --button-active-black07: rgba(0, 0, 0, 0.07);
  --button-active-shadow: #942718;
  --text-shadow: rgba(160, 32, 11, 0.76);
  --box-shadow: rgba(172, 16, 0, 0.64);
  --border-input: rgba(178, 178, 178, 0.52);
  --text-input: #999999;
  --link-hover: #E84D37;
  --linkunderline-hover: rgba(232, 77, 55, 0.3);
  --link-underline: rgba(255, 255, 255, 0.3);
  --link-underline-dark: rgba(50, 50, 50, 0.3);
  --social-outline: rgba(255, 255, 255, 0.5);
  --box-shadow: rgba(0, 0, 0, 0.4);
  --menu-shadow-active: #696969;
  --menu-active: #EDEDED;
  --price-kg: #ABABAB;
  --item-shadow: rgba(0, 0, 0, 0.2);
  --fon-contacts: #FEFEFE;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  src:
    url('/font/roboto.woff2') format('woff2'),
    url('/font/roboto.woff') format('woff');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  src:
    url('/font/robotomedium.woff2') format('woff2'),
    url('/font/robotomedium.woff') format('woff');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  src:
    url('/font/robotobold.woff2') format('woff2'),
    url('/font/robotobold.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-white);
  min-width: 1200px;
  height: 2419px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--basic-white);
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
  /* box-shadow: 0 1px 0 var(--link-underline); */
}

button,
.btn {
  padding: 10px 16px;
  border: none;
  border-radius: 70px;
  color: var(--basic-white);
  box-shadow: 0px 2px 2px var(--box-shadow);
  text-shadow: 0px 2px 5px var(--text-shadow);
  background-image: linear-gradient(var(--gradientbutton-lightorange), var(--gradientbutton-darkorange))
}

button:hover,
.btn:hover,
button:focus,
.btn:focus {
  background-color: var(--gradientbutton-lightorange);
  background-image: none;
}

button:active,
.btn:active {
  background: linear-gradient(0deg, var(--button-active-black07), var(--button-active-black07)), linear-gradient(180deg, var(--gradientbutton-lightorange) 0%, var(--gradientbutton-darkorange) 100%);
  box-shadow: inset 0px 2px 2px var(--button-active-shadow);
}

input [type="email"] {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-input);
  background-color: var(--basic-white);
  border: 1px solid var(--border-input);
  box-sizing: border-box;
  border-radius: 6px;
}

input [type="text"] {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-grey);
}

/* input [type="radio"] {
  display: none;
} */

/* input [type="radio"]+label span {
  width: 22px;
  height: 22px;
  border: none;
  border: 2px solid var(--white80-bg);
  background-image: none;
  background-color: none;
} */


/* раздел навигация раздел навигация раздел навигация раздел навигация раздел навигация раздел навигация  */
.main-navigation {
  color: var(--basic-white);
  line-height: 18px;
  font-weight: 700;
  background-color: transparent;
}

a.navigation-menu:hover,
a.navigation-menu:focus {
  padding: 6px 14px 7px 14px;
  color: var(--basic-grey);
  background-color: var(--basic-white);
  border-radius: 26px;
}

a.navigation-menu:active {
  padding: 6px 14px 7px 14px;
  color: var(--basic-grey);
  background-color: var(--menu-active);
  border-radius: 26px;
}

ul {
  list-style: none;
}

.site-navigation {
  display: flex;
}

.site-navigation .navigation-menu {
  padding: 6px 14px 7px 14px;
}

.navigation-menu span {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  box-shadow: 0 1px 0 0 var(--link-underline);
}

.site-navigation .menu-catalog {
  display: none;
  position: relative;
  top: 105px;
  z-index: 10;
  width: 143px;
  height: 157px;
  padding: 11px 0 0 0;
  font-size: 14px;
  line-height: 16px;
  position: relative;
  background-color: var(--basic-white);
  border-radius: 4px;
}

li:hover .menu-catalog,
li:focus .menu-catalog {
  display: block;
  position: absolute;
}



li .catalog-here {
  width: 61px;
  text-decoration: none;
  background-color: var(--basic-orange);
  border-radius: 26px;
}

.catalog-here span {
  box-shadow: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.catalog:hover>.menu-catalog,
.catalog:focus>.menu-catalog {
  display: block;
  position: absolute;
}

.menu-catalog a {
  color: var(--basic-grey);
  box-shadow: 0 1px 0 var(--link-underline);
}

.menu-catalog li {
  margin: 11px auto 11px 21px;
}

.menu-catalog a:hover,
.menu-catalog a:focus {
  display: block;
  padding: 11px auto 11px 21px;
}

.menu-catalog li:hover {
  background-color: var(--basic-lightorange);
}

.menu-catalog li:active {
  background-color: var(--basic-middleorange);
}

.menu-catalog li:first-child {
  margin-top: 0;
}

li.item-menu-here,
li.item-menu-here:hover {
  background-color: var(--basic-orange);
}

li.item-menu-here a {
  color: var(--basic-white);
}

.menu-catalog div {
  padding: 0;
  margin: 0;
  width: 128px;
  height: 1px;
  background-color: var(--basic-grey20);
}

.user-navigation {
  position: relative;
  margin: 0;
  margin-left: 944px;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.search-navigation {
  margin: 0;
  margin-left: 929px;
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-image: url("/img/loupe.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--white20-bg);
}

.search-navigation:hover,
.search-navigation:focus {
  background-image: url("/img/loupe-dark.svg");
  background-color: var(--basic-white);
}

.form-search {
  display: none;
  position: absolute;
  width: 341px;
  height: 84px;
  box-shadow: 0px 20px 20px var(--box-shadow);
  border-radius: 4px;
  background-color: var(--basic-beige);
}

.search-navigation:hover .form-search,
.search-navigation:focus .form-search {
  display: block;
  position: relative;
  top: 36px;
  left: -309px;
}

.form-search input {
  width: 311px;
  height: 44px;
  margin-left: 15px;
  margin-top: 20px;
  padding-left: 15px;
  background-color: var(--basic-white);
  border: 1px solid rgba(178, 178, 178, 0.52);
  box-sizing: border-box;
  border-radius: 4px;
}

.user-navigation a,
.basket-navigation a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 10px 17px 10px 45px;
  background-color: var(--white20-bg);
  border-radius: 20px;
}

.form-user {
  display: none;
  position: absolute;
  top: 33px;
  left: -182px;
  z-index: 10;
  width: 277px;
  height: 214px;
  border-radius: 4px;
  box-shadow: 0px 20px 20px var(--box-shadow);
  border-radius: 4px;
  background-color: var(--basic-beige);
}

.user-navigation:hover .form-user,
.user-navigation:focus .form-user {
  display: block;
}

.form-user input {
  width: 241px;
  height: 44px;
  margin-left: 19px;
  margin-top: 20px;
  padding-left: 15px;
  background-color: var(--basic-white);
  border: 1px solid rgba(178, 178, 178, 0.52);
  box-sizing: border-box;
  border-radius: 4px;
}

.bottom-right {
  display: flex;
  flex-direction: column;
}

.user-bottom {
  display: flex;
  margin: 20px auto auto 19px;
}

.bottom-right a {
  margin-left: 20px;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: var(--basic-grey);
  border: none;
  border-radius: 0;
}

.bottom-right span {
  box-shadow: 0 1px 0 var(--link-underline-dark);
}


.basket-navigation a:hover,
.user-navigation a:hover,
.basket-navigation a:focus,
.user-navigation a:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-grey);
  background-color: var(--basic-white);
}

.bottom-right a:hover,
.bottom-right a:focus {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: var(--link-hover);
}

.bottom-right span:hover {
  box-shadow: 0 1px 0 var(--linkunderline-hover);
}

/* корзина корзина корзина корзина корзина корзина корзина корзина корзина корзина корзина корзина корзина корзина  */
.basket-navigation {
  position: relative;
  margin: 0;
  margin-left: 1073px;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.basket-fill {
  display: none;
  /* position: absolute; */
  top: 255px;
  left: 655px;
  z-index: 10;
  width: 539px;
  height: 242px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: var(--basic-grey);
  box-shadow: 0 20px 20px var(--box-shadow);
  border-radius: 4px;
  background-color: var(--basic-beige);
}

.basket-navigation:hover .basket-fill,
.basket-navigation:focus .basket-fill {
  display: block;
}

.basket-fill a {
  margin: 0;
  padding: 0;
  width: 262px;
  height: 28px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: var(--basic-grey);
}

.basket-fill div {
  margin: 0;
  padding: 0;
  width: 510px;
  height: 1px;
  background-color: #CACAC7;
}

.basket-item-name {
  width: 216px;
  height: 28px;
}

.basket-fill p {
  margin-left: 415px;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  color: var(--basic-grey);
}

.basket-list-item>button,
.basket-list-item>button:hover,
.basket-list-item>button:focus,
.basket-list-item>button:active {
  margin: 0;
  margin-left: -21px;
  margin-top: 20px;
  padding: 0;
  width: 11px;
  height: 11px;
  background-color: var(--basic-beige);
  background-image: url("/img/cross-small.svg");
  border-radius: 0;
  box-shadow: 0 0 0 transparent;
}

.basket-fill>button {
  margin-top: 18px;
  margin-left: 353px;
  width: 172px;
  height: 44px;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
}

header p {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

a.tel {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
}

.breadcrumbs {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.filter-item h3 {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

/* intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro  */
.wrapper {
  background-color: var(--green-bg);
}

.wrapper--green {
  display: block;
  background-color: var(--green-bg);
}

.wrapper--bluegrey {
  display: none;
  background-color: var(--bluegrey-bg);
}

.wrapper--brown {
  display: none;
  background-color: var(--brown-bg);
}

.backlight {
  margin: 0;
  padding: 0;
  /* position: absolute;
  z-index: 0;
  top: 0; */
  width: 1200px;
  height: 966px;
  background-image: url("/img/backlight.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.backlight img {
  margin: 0;
  padding: 0;
  /* position: absolute;
  z-index: 0; */
  top: 75px;
  left: 325px;
}

.intro h3 {
  width: 700px;
  height: 140px;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
}

.give-both {
  display: block;
  width: 278px;
  height: 43px;
  padding: 10px 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
}

.intro-controls {
  display: flex;
  width: 79px;
  height: 21px;
  justify-content: space-between;
}

.able button {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  text-shadow: none;
  box-shadow: none;
  background-image: none;
  box-sizing: border-box;
  background-color: var(--basic-white);
}

.disable button {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  text-shadow: none;
  box-shadow: none;
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  background-image: none;
  background-color: transparent;
}

.disable button:hover,
.disable button:focus {
  background-color: var(--white40-bg);
}

.disable button:active {
  background-color: var(--basic-white);
}

/* bun bun bun bun bun bun bun bun bun bun bun bun bun bun bun bun bun bun bun bun bun bun bun bun bun bun bun bun bun bun  */
.bun-list li {
  width: 560px;
  height: 229px;
  border-radius: 16px;
}

.bun-raspberry {
  background-image: url("/img/fon_raspberry.jpg");
  background-color: #490200;
}

.bun-choko {
  background-image: url("/img/fon_choko.jpg");
  background-color: #573720;
}

.bun-list h3 {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.bun-list p {
  width: 540px;
  height: 44px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.put-raspberry {
  display: block;
  width: 144px;
  height: 28px;
  padding: 11px 10px 9px 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.put-choko {
  display: block;
  width: 171px;
  height: 28px;
  padding: 11px 10px 9px 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

/* а тут будет оооооочень страшный фильтр ААААААААААААААААААААААААААААААААААААААААААААА а тут будет оооооочень страшный фильтр аааааааааааа а тут будет оооооочень страшный фильтр аааааааааааа */
legend {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

select,
label {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

fieldset {
  border: 0;
  background-color: var(--white20-bg);
  border-radius: 20px;
}

.sort-select {
  background-color: transparent;
}

/* .sort-ratio {
  display: flex;
} */

select {
  width: 196px;
  height: 36px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--white20-bg);
  border: 0;
  border-radius: 20px;
}

select:hover {
  color: var(--basic-grey);
}

option {
  color: var(--basic-grey);
}

.form-filter button {
  width: 144px;
  height: 36px;
  margin: 0;
  padding: 0;
  text-shadow: none;
  box-shadow: none;
  background-color: var(--white20-bg);
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 20px;
  background-image: none;
}

.form-filter button:hover {
  color: var(--basic-grey);
  background-color: var(--basic-white);
}

.form-filter button:active {
  color: var(--basic-grey);
  background-color: var(--basic-white);
  border: none;
  box-shadow: inset 0px 2px 1px var(--menu-shadow-active);
}



/* раздел преимуществ раздел преимуществ раздел преимуществ раздел преимуществ раздел преимуществ раздел преимуществ  */
.features {
  width: 1146px;
  height: 306px;
  color: var(--basic-grey);
  background-image: url(/img/pattern.jpg);
  background-color: #efe5cc;
  background-repeat: repeat no-repeat;
  border-radius: 16px;
}

.features-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.features ul {
  margin: 0;
  padding: 0;
}

.features h3 {
  width: 995px;
  height: 60px;
  padding-top: 24px;
  padding-left: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.feature-item {
  margin: 0;
  padding: 0;
  width: 485px;
  height: 77px;
  margin-top: 21px;
  padding-left: 75px;
  font: inherit;
}

.feature-item:nth-child(3),
.feature-item:nth-child(4) {
  width: 482px;
}

article {
  width: 560px;
  height: 220px;
  background-image: url(/img/fon_strawberry.jpg);
  border-radius: 16px;
}

article h3 {
  margin: 0;
  padding-top: 23px;
  padding-left: 20px;
  color: var(--basic-grey);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

article a {
  display: block;
  width: 307px;
  height: 92px;
  padding-top: 15px;
  padding-left: 20px;
  color: var(--basic-grey);
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

article span {
  box-shadow: 0 2px 0 var(--basic-grey);
}

.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 560px;
  height: 220px;
  padding: 0;
  color: var(--basic-grey);
  background-image: url(/img/fon_post.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.subscribe-fon {
  width: 548px;
  height: 210px;
  background-color: var(--basic-beige);
  border-radius: 16px;
}

.subscribe-fon p {
  margin: 0;
  padding-left: 20px;
  padding-top: 29px;
}

.subscribe input {
  width: 368px;
  height: 44px;
  margin-left: 20px;
  margin-top: 35px;
  padding-left: 14px;
  background-color: var(--basic-white);
  border: 1px solid rgba(178, 178, 178, 0.52);
  box-sizing: border-box;
  border-radius: 6px;
}

.subscribe button {
  width: 130px;
  height: 44px;
  padding: 10px 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

/* раздел для каталога раздел для каталога раздел для каталога раздел для каталога раздел для каталога раздел для футера */
.price-kg {
  color: var(--price-kg);
}

.icecream {
  margin: 0;
  padding: 0;
  border-radius: 50%;
}

.card h3 {
  margin-top: 30px;
  width: 267px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.card span {
  box-shadow: 0 1px 0 var(--white20-bg);
}

.card p {
  margin-top: -70px;
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
}

.small-kg {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
}

.catalog-item {
  position: relative;
  margin: 0;
  padding: 0;
}

.catalog-item .card {
  margin: 0;
  padding: 0;
  padding-top: 6px;
  margin: 0 13px;
}

.item-button {
  display: none;
  position: absolute;
  left: 32px;
  top: 337px;
  z-index: 10;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 44px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.catalog-item:hover .item-button,
.catalog-item:focus .item-button {
  display: block;
}

.catalog-item:hover,
.catalog-item:focus {
  width: 293px;
  height: 402px;
  background-color: var(--white20-bg);
  box-shadow: 0px 20px 20px var(--item-shadow);
  border-radius: 4px;
}

/* pageset-number-active-noactive pageset-number-active-noactive pageset-number-active-noactive pageset-number-active-noactive  */
.pageset {
  display: flex;
}

.pageset a {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.pageset li {
  width: 26px;
  height: 26px;
}

.left-row {
  width: 7px;
  height: 12px;
  background-image: url("/img/icon-left-small.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.right-row {
  width: 7px;
  height: 12px;
  background-image: url("/img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.active-page {
  width: 26px;
  height: 26px;
  background-color: var(--basic-white);
  border-radius: 50%;
}

.active-page a {
  color: var(--basic-grey);
}

.pageset a:hover {
  display: block;
  width: 26px;
  height: 26px;
  background-color: var(--white20-bg);
  border-radius: 50%;
}


/* контакты контакты контакты контакты контакты контакты контакты контакты  */
.pin {
  width: 80px;
  height: 140px;
  background-image: url("/img/pin.svg");
}

.contacts__adress {
  width: 303px;
  height: 306px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-grey);
  background: var(--fon-contacts);
  border-radius: 16px;
}

.contacts__adress h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.contacts__adress a,
.contacts__adress p {
  color: var(--basic-grey);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.contacts__adress button {
  width: 253px;
  height: 43px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

/* раздел для футера раздел для футера раздел для футера раздел для футера раздел для футера раздел для футера */
.footer__social-list {
  display: flex;
}

.footer__social-link {
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  border-radius: 50%;
  border: 2px solid var(--social-outline);
}

li .footer__social-link--fb {
  background-image: url("/img/fb.svg");
}

.footer__social-link--vk {
  background-image: url("/img/vk.svg");
}

.footer__social-link--ig {
  background-image: url("/img/instagram.svg");
}

.footer__social-link--tw {
  background-image: url("/img/twitter.svg");
}

.footer__info-list {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.footer__info-link {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid var(--white20-bg);
}

.footer__info-link--provider {
  width: 115px;
  font-weight: 700;
}

.footer__info-link--documents {
  width: 107px;
}

.footer__info-link--output {
  width: 99px;
}

.footer__info-link--eco {
  width: 162px;
}

.footer-copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.footer-copyright span {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid var(--white20-bg);
}


/* форма обратной связи форма обратной связи форма обратной связи форма обратной связи форма обратной связи форма обратной связи  */
.callback {
  display: none;
  width: 477px;
  height: 441px;
  box-shadow: 0px 20px 20px var(--box-shadow);
  border-radius: 6px;
  background-color: var(--basic-beige);
}

.callback-caption {
  display: inline-block;
}

.callback-caption p {
  width: 375px;
  height: 37px;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-left: 23px;
  margin-bottom: -30px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: var(--basic-grey);
  box-sizing: border-box;
}

.close-button,
.close-button:hover,
.close-button:focus,
.close-button:active {
  width: 18px;
  height: 17px;
  margin-left: 443px;
  padding: 0;
  background-color: var(--basic-beige);
  background-image: url(/img/cross-big.svg);
  background-repeat: no-repeat;
  border-radius: 0;
  box-shadow: 0 0 0 transparent;
}

.form-callback input {
  margin: 0;
  padding: 0;
  width: 267px;
  height: 44px;
  margin-left: 24px;
  margin-top: 20px;
  padding-left: 14px;
  background-color: var(--basic-white);
  border: 1px solid rgba(178, 178, 178, 0.52);
  box-sizing: border-box;
  border-radius: 4px;
}

.form-callback textarea {
  margin: 0;
  padding: 0;
  width: 428px;
  height: 154px;
  margin-top: 20px;
  margin-left: 24px;
  padding-top: 16px;
  padding-left: 14px;
  background-color: var(--basic-white);
  border: 1px solid rgba(178, 178, 178, 0.52);
  box-sizing: border-box;
  border-radius: 4px;
}

.form-callback button {
  margin: 0;
  padding: 0;
  width: 140px;
  height: 44px;
  margin-top: 25px;
  margin-left: 312px;
  padding: 10px 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
