:root {
  --green-bg: #849D8F;
  --bluegrey-bg: #8996A6;
  --brown-bg: #9D8B84;
  --basic-white: #ffffff;
  --white20-bg: rgba(255, 255, 255, 0.2);
  --link-underline: rgba(255, 255, 255, 0.3);
  --white40-bg: rgba(255, 255, 255, 0.4);
  --social-outline50: rgba(255, 255, 255, 0.5);
  --social-outline70: rgba(255, 255, 255, 0.7);
  --white80-bg: rgba(255, 255, 255, 0.8);
  --basic-grey: #323232;
  --basic-grey20: rgba(50, 50, 50, 0.2);
  --link-underline-dark: rgba(50, 50, 50, 0.3);
  --text-shadow-grey: rgba(49, 50, 53, 0.5);
  --article-underline: #353535;
  --basic-beige: #F8F7F4;
  --menu-active: #EDEDED;
  --fon-contacts: #FEFEFE;
  --link-hover-footer: #FFBC9E;
  --link-hover-footer30: rgba(255, 188, 158, 0.3);
  --basic-lightorange: #FBDED7;
  --basic-middleorange: #F6B5A5;
  --basic-orange: #D07058;
  --gradientbutton-lightorange: #F26843;
  --gradientbutton-darkorange: #E74A35;
  --link-hover: #E84D37;
  --linkunderline-hover: rgba(232, 77, 55, 0.3);
  --text-shadow: rgba(160, 32, 11, 0.76);
  --box-shadow: rgba(172, 16, 0, 0.64);
  --button-active-shadow: #942718;
  --basket-underline: #CACAC7;
  --text-input: #999999;
  --price-kg: #ABABAB;
  --menu-shadow-active: #696969;
  --border-input: rgba(178, 178, 178, 0.52);
  --range-scale: rgba(248, 247, 244, 0.5);
  --box-shadow: rgba(0, 0, 0, 0.4);
  --item-shadow: rgba(0, 0, 0, 0.2);
  --button-active-black07: rgba(0, 0, 0, 0.07);
  --fon-raspberry: #490200;
  --fon-choko: #573720;
  --fon-pattern: #efe5cc;
  --transparent: transparent;
}


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
    url('/font/roboto.woff2') format('woff2'),
    url('/font/roboto.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src:
    url('/font/robotomedium.woff2') format('woff2'),
    url('/font/robotomedium.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src:
    url('/font/robotobold.woff2') format('woff2'),
    url('/font/robotobold.woff') format('woff');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-white);
  min-width: 1146px;
  min-height: 1636px;
  background-color: var(--green-bg);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  flex-shrink: 0;
}

a {
  margin: 0;
  padding: 0;
  color: var(--basic-white);
  line-height: 18px;
  text-decoration: none;
  outline: none;
}

button,
.btn {
  padding: 9px 16px 11px;
  border: none;
  border-radius: 70px;
  color: var(--basic-white);
  box-shadow: 0px 2px 2px var(--box-shadow);
  text-shadow: 0px 2px 5px var(--text-shadow);
  background-image: linear-gradient(var(--gradientbutton-lightorange), var(--gradientbutton-darkorange));
  outline: none;
  cursor: pointer;
}

button:hover,
.btn:hover,
button:focus,
.btn:focus {
  background-color: var(--gradientbutton-lightorange);
  background-image: none;
  outline: none;
}

button:active,
.btn:active {
  background: linear-gradient(0deg, var(--button-active-black07), var(--button-active-black07)), linear-gradient(180deg, var(--gradientbutton-lightorange) 0%, var(--gradientbutton-darkorange) 100%);
  box-shadow: inset 0px 2px 2px var(--button-active-shadow);
  outline: none;
}

input [type="email"] {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-input);
  background-color: var(--basic-white);
  border: 1px solid var(--border-input);
  box-sizing: border-box;
  border-radius: 6px;
  outline: none;
}

input [type="text"] {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-grey);
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* раздел навигация по глвному меню раздел навигация раздел навигация раздел навигация раздел навигация раздел навигация  */
.wrapper {
  width: auto;
}

.wrapper-catalog {
  background-color: var(--green-bg);
}

.wrapper--green {
  background-color: var(--green-bg);
  background-image: url(/img/Group1.png);
  background-repeat: no-repeat;
  background-position: top center;
}

.wrapper--bluegrey {
  display: none;
  background-color: var(--bluegrey-bg);
  background-image: url(/img/Group2.png);
  background-repeat: no-repeat;
  background-position: top center;
}

.wrapper--brown {
  display: none;
  background-color: var(--brown-bg);
  background-image: url(/img/Group3.png);
  background-repeat: no-repeat;
  background-position: top center;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 27px;
  padding-right: 27px;
}

.container-max {
  width: 1172px;
  margin: 0 auto;
  padding-left: 13px;
  padding-right: 13px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1146px;
  min-height: 67px;
  margin: 4px auto 2px;
  color: var(--basic-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--transparent);
}

.header-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  margin-top: 3px;
  min-width: 244px;
}

.header-logo {
  width: 154px;
  height: 67px;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  margin-right: 10px;
}

.header-logo a {
  display: flex;
}

.navigation-menu span {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: 0 1px 0 0 var(--link-underline);
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
  max-width: 500px;
  margin: 0;
  margin-right: 30px;
  padding: 0;
}

.site-navigation>li {
  display: flex;
  position: relative;
  margin: 5px 0;
}

.catalog-menu::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0;
  bottom: 0;
  transform: translateY(50%);
}

.site-navigation .navigation-menu {
  display: flex;
  border-radius: 26px;
  padding: 6px 13px 7px 14px;
  margin-right: 5px;
}

.site-navigation .navigation-menu:hover,
.site-navigation .navigation-menu:focus {
  display: flex;
  padding: 6px 13px 7px 14px;
  color: var(--basic-grey);
  background-color: var(--basic-white);
  outline: none;
}

.site-navigation .navigation-menu:active {
  display: flex;
  padding: 6px 17px 7px 15px;
  color: var(--basic-grey);
  background-color: var(--menu-active);
  box-shadow: inset 0px 2px 1px var(--menu-shadow-active);
}

.site-navigation .catalog-submenu {
  display: none;
  position: absolute;
  flex-direction: column;
  top: 37px;
  left: -6px;
  z-index: 10;
  width: 143px;
  min-height: 157px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  background-color: var(--basic-white);
  border-radius: 4px;
}

.catalog-menu:hover .catalog-submenu {
  display: flex;
  outline: none;
}

/* раздел навигация подменю каталог         навигация подменю каталог  */
.catalog-submenu li {
  display: flex;
  flex-direction: column;
}

.catalog-submenu a {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  padding: 7px 5px 7px 12px;
}

.catalog-submenu li:first-child a {
  position: relative;
  padding: 8px 5px 8px 12px;
}

.catalog-submenu li:first-child a::after {
  content: "";
  position: absolute;
  width: 128px;
  height: 1px;
  left: 6px;
  bottom: 0;
  background-color: var(--basic-grey20);
}

.catalog-menu:hover>a,
.catalog-menu:focus>a {
  color: var(--basic-grey);
  background-color: var(--basic-white);
}

.catalog-menu:hover>a span {
  color: var(--basic-grey);
  outline: none;
}

.catalog-submenu a {
  color: var(--basic-grey);
  background-color: none;
}

.catalog-submenu a span {
  color: var(--basic-grey);
  background-color: none;
}

.catalog-submenu a:hover,
.catalog-submenu a:focus {
  background-color: var(--basic-lightorange);
  outline: none;
}

.catalog-submenu li:first-child a:hover {
  background-color: var(--basic-lightorange);
  outline: none;
  border-radius: 4px 4px 0 0;
}

.catalog-submenu li:last-child a:hover {
  background-color: var(--basic-lightorange);
  outline: none;
  border-radius: 0 0 4px 4px;
}

.catalog-submenu a:active {
  background-color: var(--basic-middleorange);
}

.catalog-submenu li:first-child a:active {
  background-color: var(--basic-middleorange);
  border-radius: 4px 4px 0 0;
}

.catalog-submenu li:last-child a:active {
  background-color: var(--basic-middleorange);
  border-radius: 0 0 4px 4px;
}

.catalog-here>a {
  color: var(--basic-white);
  background-color: var(--basic-orange);
}

.catalog-here span {
  box-shadow: none;
}

.catalog-submenu .active_page {
  color: var(--basic-white);
  background-color: var(--basic-orange);
  pointer-events: none;
}


/* раздел  поиск вход корзина       раздел  поиск вход корзина       раздел  поиск вход корзина        */
.search-navigation {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-left: 10px;
}

.search-navigation::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
}

.search-navigation a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--white20-bg);
}

.search-navigation svg {
  margin-top: 1px;
}

.search-navigation a:hover,
.search-navigation a:focus {
  background-color: var(--basic-white);
  outline: none;
}

.search-navigation a:hover svg path,
.search-navigation a:focus svg path {
  fill: var(--basic-gray);
}


.search-navigation:hover a {
  background-color: var(--basic-white);
  outline: none;
}

.search-navigation:hover svg path {
  fill: var(--basic-gray);
}

.search-navigation form {
  display: none;
  position: absolute;
  top: 37px;
  right: 0;
  width: 341px;
  min-height: 84px;
  box-shadow: 0px 20px 20px var(--box-shadow);
  border-radius: 4px;
  background-color: var(--basic-beige);
}

.search-navigation:hover form {
  display: block;
}

.search-navigation input {
  width: 311px;
  min-height: 44px;
  margin-left: 15px;
  margin-top: 20px;
  padding-left: 15px;
  background-color: var(--basic-white);
  border: 1px solid var(--border-input);
  box-sizing: border-box;
  border-radius: 4px;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-left: 10px;
}

.user-navigation::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
}

.user-navigation>a {
  display: flex;
  align-items: center;
  min-width: 92px;
  max-width: 120px;
  min-height: 32px;
  background-color: var(--white20-bg);
  border-radius: 20px;
  padding: 0 16px;
  box-sizing: border-box;
}

.user-navigation>a svg {
  margin-right: 8px;
}

.user-navigation>a span {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.user-navigation:hover>a,
.user-navigation:focus>a {
  color: var(--basic-grey);
  background-color: var(--basic-white);
}

.user-navigation:hover svg path,
.user-navigation a:focus svg path {
  fill: var(--basic-grey);
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: var(--basic-grey);
  background-color: var(--basic-white);
}

.user-navigation form {
  display: none;
  position: absolute;
  top: 37px;
  margin-left: -185px;
  z-index: 10;
  width: 277px;
  min-height: 214px;
  border-radius: 4px;
  box-shadow: 0px 20px 20px var(--box-shadow);
  border-radius: 4px;
  background-color: var(--basic-beige);
}

.user-navigation:hover form,
.user-navigation:focus form {
  display: block;
}

.user-navigation input {
  width: 241px;
  min-height: 44px;
  margin-left: 19px;
  margin-top: 20px;
  padding-left: 15px;
  background-color: var(--basic-white);
  border: 1px solid var(--border-input);
  box-sizing: border-box;
  border-radius: 4px;
}

.user-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 242px;
  min-height: 44px;
  margin: 20px auto auto 19px;
}

.user-bottom button {
  width: 103px;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
}

.bottom-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: space-between;
  width: 119px;
  min-height: 44px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}

.bottom-right a {
  padding: 0;
  margin: auto auto auto 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: var(--basic-grey);
  border: none;
  border-radius: 0;
}

.bottom-right span {
  box-shadow: 0 1px 0 var(--link-underline-dark);
}

.bottom-right a:hover,
.bottom-right a:focus {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: var(--link-hover);
  outline: none;
}

.bottom-right span:hover {
  box-shadow: 0 1px 0 var(--linkunderline-hover);
  outline: none;
}

/* корзина-корзина корзина-корзина корзина-корзина корзина-корзина */
.basket-navigation {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-left: 10px;
}

.basket-navigation::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
}

.basket-navigation .basket-empty {
  display: flex;
  align-items: center;
  min-width: 100px;
  max-width: 130px;
  min-height: 32px;
  padding: 0 16px;
  background-color: var(--white20-bg);
  border-radius: 20px;
  box-sizing: border-box;
}

.basket-navigation .basket-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 118px;
  max-width: 148px;
  min-height: 32px;
  padding: 0 16px;
  color: var(--basic-grey);
  background-color: var(--basic-white);
  border-radius: 20px;
  box-sizing: border-box;
}

.basket-navigation a svg {
  margin-right: 8px;
}

.basket-navigation>a span {
  padding: 8px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.basket-navigation:hover>a {
  color: var(--basic-grey);
  background-color: var(--basic-white);
}

.basket-navigation a:hover,
.basket-navigation a:focus {
  color: var(--basic-grey);
  background-color: var(--basic-white);
}

.basket-empty:hover svg g,
.basket-empty:focus svg g {
  fill: var(--basic-grey);
}

.basket-fill {
  display: none;
  flex-wrap: wrap;
  position: absolute;
  flex-direction: column;
  top: 37px;
  right: 0;
  z-index: 10;
  width: 539px;
  min-height: 242px;
  margin: 0;
  padding: 14px 21px 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: var(--basic-grey);
  box-shadow: 0 20px 20px var(--box-shadow);
  border-radius: 4px;
  background-color: var(--basic-beige);
}

.basket-navigation:hover .basket-fill {
  display: flex;
}

.basket-list {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 494px;
  min-height: 92px;
  margin-bottom: 38px;
}

.basket-list-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 46px;
}

.basket-list-item .icecream {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.basket-list-item img {
  margin-right: 13px;
}

.basket-list-item a {
  display: flex;
  align-items: center;
  width: 216px;
  margin-right: 31px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: var(--basic-grey);
}

.basket-list-item a:hover {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: var(--link-hover-footer);
  background-color: var(--basic-beige);
}

.basket-list-item a:hover span {
  box-shadow: 0 1px 0 var(--link-hover-footer30);
}

.row4 {
  width: 95px;
  margin-right: 26px;
}

.basket-fill::after {
  content: "";
  position: absolute;
  bottom: 112px;
  left: 11px;
  width: 510px;
  height: 1px;
  background-color: var(--basket-underline);
}

.basket-bottom p {
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  color: var(--basic-grey);
}

.basket-list-item>button {
  margin: 0;
  margin-right: 9px;
  padding: 0;
  width: 11px;
  min-height: 11px;
  background-color: var(--basic-beige);
  background-image: url("/img/cross-small.svg");
  border-radius: 0;
  box-shadow: 0 0 0 var(--transparent);
}

.basket-list-item>button:hover,
.basket-list-item>button:focus,
.basket-list-item>button:active {
  outline: none;
  cursor: pointer;
}

.basket-bottom>button {
  margin-top: 18px;
  width: 172px;
  min-height: 44px;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
}

.basket-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 75px;
}


/* телефон и часы работы breadcrumbs       телефон и часы работы breadcrumbs   */
header p {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.tel {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
}

.tel:active {
  color: var(--link-hover-footer);
}

.header-down {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1146px;
  min-height: 91px;
  margin-bottom: 7px;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 1146px;
  min-height: 48px;
  margin-bottom: 5px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 5px;
}

.breadcrumbs a {
  margin-right: 22px;
  box-shadow: 0 1px 0 0 var(--link-underline);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: var(--link-hover-footer);
  box-shadow: 0 1px 0 0 var(--link-hover-footer30);
}

.breadcrumbs::before {
  content: "";
  position: absolute;
  left: 62px;
  top: 7px;
  width: 6px;
  height: 6px;
  background-image: url(/img/arrows.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs::after {
  content: "";
  position: absolute;
  left: 137px;
  top: 7px;
  width: 6px;
  height: 6px;
  background-image: url(/img/arrows.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.header-down h3 {
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 35px;
  line-height: 16px;
}

.worktime-tel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 167px;
  min-height: 50px;
  padding-top: 2px;
}

.worktime-tel a {
  margin-left: auto;
}

.worktime-tel p {
  margin-left: auto;
}


/* intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro  */
.intro {
  position: relative;
}

.slider {
  position: relative;
  padding: 274px 0 38px;
  text-align: center;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide-current {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.slide-title {
  margin-bottom: 27px;
  padding: 0 223px;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}

.slide-button {
  display: block;
  width: 278px;
  min-height: 63px;
  padding: 9px 16px 12px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
}

.slider-controls {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  position: absolute;
  left: 0;
  z-index: 20;
  top: 441px;
  margin: 0;
  padding: 0;
  height: 21px;
}

.slider-controls button {
  margin: 0;
  margin-right: 8px;
  padding: 0;
  width: 21px;
  height: 21px;
  box-sizing: border-box;
  text-shadow: none;
  background-image: none;
  background-color: var(--transparent);
  border-radius: 50%;
  border: 2px solid var(--basic-white);
  box-shadow: none;
}

.slider-controls .able {
  background-color: var(--basic-white);
  border: 2px solid var(--basic-white);
}

.slider-controls button:hover,
.slider-controls button:focus {
  background-color: var(--white40-bg);
  background-image: none;
  border: 2px solid var(--basic-white);
  outline: none;
}

.slider-controls button:active,
.slider-controls button:visited {
  background-color: var(--basic-white);
  background-image: none;
  box-shadow: none;
}

/* buns buns buns buns buns buns buns buns buns buns buns buns buns buns buns buns   */
.bun-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
}

.bun-list li {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
  padding: 14px 16px;
  width: 560px;
  min-height: 229px;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bun-raspberry {
  background-image: url("/img/fon_raspberry.jpg");
  background-color: var(--fon-raspberry);
}

.bun-choko {
  background-image: url("/img/fon_choko.jpg");
  background-color: var(--fon-choko);
}

.bun-list h3 {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  margin-bottom: 17px;
}

.bun-list p {
  width: 540px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.put-raspberry {
  display: block;
  width: 164px;
  min-height: 48px;
  margin: auto 6px 8px auto;
  padding: 11px 10px 9px 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.put-choko {
  display: block;
  width: 191px;
  min-height: 48px;
  margin: auto 6px 8px auto;
  padding: 11px 10px 9px 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.put-raspberry:hover,
.put-choko:hover {
  background-color: var(--gradientbutton-lightorange);
  background-image: none;
  outline: none;
}

button:active,
.btn:active {
  background: linear-gradient(0deg, var(--button-active-black07), var(--button-active-black07)), linear-gradient(180deg, var(--gradientbutton-lightorange) 0%, var(--gradientbutton-darkorange) 100%);
  box-shadow: inset 0px 2px 2px var(--button-active-shadow);
}

/* а тут будет оооооочень страшный фильтр ААААААААААААААААААААААААААААААААААААААААААААА а тут будет оооооочень страшный фильтр аааааааааааа а тут будет оооооочень страшный фильтр аааааааааааа */
.filter-list svg {
  flex-shrink: 0;
}

.filter-list form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  min-width: 900px;
  min-height: 125px;
  margin-bottom: 34px;
}

.filter-list label {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

fieldset {
  margin: 0;
  margin-right: 15px;
  padding: 0;
  border: 0;
  border-radius: 20px;
}

.filter-list legend {
  padding-left: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 4px;
}

.sort-select label {
  position: relative;
}

.sort-select select:hover,
.sort-select select:focus {
  color: var(--basic-grey);
  outline: none;
}

.sort-select select {
  position: relative;
  width: 196px;
  height: 36px;
  padding: 10px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--white20-bg);
  border: 0;
  border-radius: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.sort-select option {
  color: var(--basic-grey);
  padding: 8px auto 3px 20px;
}

.arrow-select {
  position: absolute;
  display: block;
  pointer-events: none;
  z-index: 10;
  left: 172px;
  top: 0;
  width: 11px;
  height: 10px;
}

.sort-select:hover .arrow-select path {
  fill: var(--basic-grey);
}

.sort-price {
  width: 218px;
  min-height: 56px;
  background-color: var(--transparent);
}

.range-controls {
  position: relative;
  width: 218px;
  height: 36px;
  background: var(--white20-bg);
  border-radius: 20px;
}

.range-controls .scale {
  position: absolute;
  top: 15px;
  left: 19px;
  height: 2px;
  width: 176px;
  background: var(--range-scale);
}

.range-controls .bar {
  position: absolute;
  left: 23px;
  width: 60%;
  height: 2px;
  background: var(--basic-beige);
}

.range-controls .toggle {
  position: absolute;
  top: 6px;
  left: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {

  left: 34px;
}

.range-controls .toggle-max {
  left: 132px;
}


.sort-radio {
  min-width: 425px;
  min-height: 56px;
}

.radio_label {
  position: relative;
  display: flex;
  align-items: center;
}

.radio__input {
  position: absolute;
  width: 22px;
  height: 22px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.radio__box {
  margin-right: 11px;
  width: 22px;
  height: 22px;
  overflow: hidden;
  background-color: var(--transparent);
  border-radius: 50%;
  border: 4px solid var(--basic-white);
  opacity: 0.8;
}

.radio__input:checked+.radio__box {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 22'%3E%3Cpath d='M11 15c2.2 0 4-1.8 4-4s-1.8-4-4-4-4 1.8-4 4 1.8 4 4 4z' fill='%23fff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  opacity: 0.8;
}

.radio__input:hover+.radio__box,
.radio__input:focus+.radio__box {
  opacity: 1;
  outline: none;
}

.radio__input:checked:hover+.radio__box,
.radio__input:checked:focus+.radio__box {
  opacity: 1;
  outline: none;
}

.radio__input:disabled+.radio__box {
  opacity: 0.4;
  pointer-events: none;
}

.radio__input:checked:disabled+.radio__box {
  opacity: 0.4;
  pointer-events: none;
}

.filter-radio_list:hover+.radio__input:checked:disabled {
  pointer-events: none;
}


.filter-radio_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 425px;
  max-width: 702px;
  min-height: 36px;
  list-style: none;
  margin: 0;
  padding: 7px 14px;
  background-color: var(--white20-bg);
  border-radius: 20px;
  box-sizing: border-box;
}

.filter-radio_list li {
  margin-right: 19px;
}

.filter-radio_list li:last-of-type {
  margin-right: 0;
}

.choice-filler legend {
  margin-bottom: 10px;
}

.filter-checkbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 711px;
  max-width: 985px;
  min-height: 36px;
  margin-right: -1px;
  padding: 8px 19px 8px 16px;
  background-color: var(--white20-bg);
  border-radius: 20px;
}

.filter-checkbox li {
  margin-right: 23px;
}

.filter-checkbox li:last-of-type {
  margin-right: 0;
}

.check {
  position: relative;
  display: flex;
  align-items: center;
}

.check__box {
  width: 24px;
  height: 20px;
  margin-right: 8px;
}

.check__input {
  position: absolute;
  width: 24px;
  height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.check__input:hover+* .check__on,
.check__input:focus+* .check__on {
  opacity: 1;
}

.check__input:hover+* .check__off,
.check__input:focus+* .check__off {
  opacity: 1;
}

.check__input:checked+* .check__on {
  fill: var(--basic-white);
  opacity: 0.8;
}

.check__input:checked+* .check__off {
  opacity: 0;
}

.check__input:checked:hover+* .check__on,
.check__input:checked:focus+* .check__on {
  fill: var(--basic-white);
  opacity: 1;
}

.check__input:disabled+* .check__on {
  opacity: 0;
}

.check__input:disabled+* .check__off {
  opacity: 0.4;
}

.check__input:checked:disabled+* .check__on {
  opacity: 0.4;
}

.check__input:checked:disabled+* .check__off {
  opacity: 0;
}

.check__input:disabled {
  pointer-events: none;
}

.check__input:checked:disabled {
  pointer-events: none;
}

.filter-list form button {
  width: 144px;
  min-height: 36px;
  margin: 0;
  margin-top: 39px;
  padding: 0;
  text-shadow: none;
  box-shadow: none;
  background-color: var(--white20-bg);
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 20px;
  background-image: none;
}

.filter-list form button:hover,
.filter-list form button:focus {
  color: var(--basic-grey);
  background-color: var(--basic-white);
  outline: none;
}

.filter-list form button:active {
  color: var(--basic-grey);
  background-color: var(--basic-white);
  border: none;
  box-shadow: inset 0px 2px 1px var(--menu-shadow-active);
}


/* раздел для каталога раздел для каталога раздел для каталога раздел для каталога раздел для каталога раздел для футера */
.catalog {
  min-height: 370px;
}

.catalog-inner {
  min-height: 1040px;
  margin-bottom: 50px;
}

.catalog-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
  margin: 0;
  margin-bottom: -5px;
  padding: 0;
}

.catalog-list li {
  position: relative;
  z-index: 1;
  width: 267px;
  min-height: 360px;
  margin-right: 26px;
  outline: none;
}

.catalog-list li:nth-child(4n) {
  margin-right: 0;
}

.catalog-item {
  padding-top: 213px;
}

.catalog-item .icecream {
  position: absolute;
  top: 6px;
  z-index: -1;
  width: 267px;
  height: 267px;
  border-radius: 50%;
}

.catalog-item h3 {
  width: 267px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.catalog-item h3>span {
  width: 267px;
  box-shadow: 0 1px 0 var(--white20-bg);
  text-align: center;
}

.catalog-item p {
  display: flex;
  align-items: flex-end;
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px var(--text-shadow-grey);
  margin-bottom: 27px;
}

.ruble {
  width: 43px;
  height: 40px;
  background-image: url("/img/ruble_shadow.png");
  background-position: 100% center;
  background-repeat: no-repeat;
}

.card {
  display: none;
  justify-content: center;
  position: absolute;
  left: -13px;
  top: 0;
  z-index: -2;
  min-height: 402px;
  width: 293px;
  background-color: var(--white20-bg);
  box-shadow: 0px 20px 20px var(--item-shadow);
  border-radius: 4px;
  outline: none;
}

.item-button {
  position: absolute;
  top: 337px;
  z-index: 1;
  width: 200px;
  min-height: 44px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.price-kg {
  color: var(--price-kg);
}

.hit::before {
  content: "";
  position: absolute;
  z-index: 10;
  width: 61px;
  height: 61px;
  top: 5px;
  background-image: url(/img/hit.svg);
}

.small-kg {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
}

.catalog-item:hover,
.catalog-item:focus,
.catalog-item:focus-within {
  z-index: 2;
  cursor: pointer;
}

.catalog-item:hover .card,
.catalog-item:focus .card,
.catalog-item:focus-within .card {
  display: flex;
}


/* раздел преимуществ раздел преимуществ раздел преимуществ раздел преимуществ раздел преимуществ раздел преимуществ  */
.features {
  width: 1146px;
  min-height: 306px;
  margin: 0 auto 40px auto;
  padding: 23px 20px 18px;
  color: var(--basic-grey);
  background-image: url(/img/pattern.jpg);
  background-color: var(--fon-pattern);
  background-repeat: repeat;
  border-radius: 16px;
}

.features-list {
  display: grid;
  grid-template-columns: 565px 560px;
  gap: 1px;
  margin: 0;
  padding: 0;
}

.features h3 {
  margin: 0;
  margin-bottom: 7px;
  padding: 0;
  width: 995px;
  min-height: 60px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.feature-item {
  position: relative;
  margin: 0;
  padding: 0;
  padding: 9px 10px 12px 55px;
  font: inherit;
}

.modern-self div {
  position: absolute;
  left: 0;
  top: 0;
  width: 49px;
  height: 49px;
  background-image: url(/img/features-icecream.svg);
}

.safe-company div {
  position: absolute;
  left: 0;
  top: 0;
  width: 49px;
  height: 49px;
  background-image: url(/img/features-cow.svg);
}

.good-milk div {
  position: absolute;
  left: 0;
  top: 0;
  width: 49px;
  height: 49px;
  background-image: url(/img/features-eco.svg);
}

.termo-delivery div {
  position: absolute;
  left: 0;
  top: 0;
  width: 49px;
  height: 49px;
  background-image: url(/img/features-thermometer.svg);
}


/* article_and_subscribe article_and_subscribe article_and_subscribe  */
.article_and_subscribe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

article {
  width: 560px;
  min-height: 220px;
  padding: 18px 20px 17px;
  background-image: url(/img/fon_strawberry.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
}

article h3 {
  margin: 0;
  margin-bottom: 2px;
  color: var(--basic-grey);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.article_news {
  position: relative;
  display: block;
  width: 307px;
  min-height: 92px;
  color: var(--basic-grey);
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.article_news svg {
  position: absolute;
  top: 26px;
}

.article_news:hover,
.article_news:focus {
  color: var(--link-hover);
}

.article_news:hover path,
.article_news:focus path {
  stroke: var(--linkunderline-hover);
}



.subscribe {
  display: flex;
  width: 560px;
  min-height: 220px;
  padding: 5px 6px;
  color: var(--basic-grey);
  background-image: url(/img/fon_post.png);
  background-position: center;
  background-size: cover;
  border-radius: 16px;
}

.subscribe-fon {
  display: flex;
  flex-direction: column;
  padding: 20px 16px 35px 20px;
  background-color: var(--basic-beige);
  border-radius: 16px;
}

.subscribe-fon p {
  margin: 5px 0;
  padding: 0;
  margin-bottom: 40px;
}

.subscribe form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.subscribe input {
  width: 368px;
  min-height: 44px;
  margin-right: 10px;
  padding-left: 13px;
  background-color: var(--basic-white);
  border: 1px solid var(--border-input);
  box-sizing: border-box;
  border-radius: 6px;
}

.subscribe button {
  margin: 0;
  width: 130px;
  min-height: 44px;
  padding: 10px 16px 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}


/* контакты контакты контакты контакты контакты контакты контакты контакты  */
.contacts {
  position: relative;
  width: 1200px;
  min-height: 430px;
  margin: 0 auto;
  padding: 0 auto;
  margin-bottom: 7px;
}

.pin {
  position: absolute;
  bottom: 36.6%;
  left: 22.18%;
  width: 80px;
  height: 140px;
  background-image: url("/img/pin.svg");
}

.contacts__adress {
  position: absolute;
  top: 14.3%;
  left: 72.5%;
  width: 303px;
  min-height: 306px;
  padding: 31px 25px 30px 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-grey);
  background: var(--fon-contacts);
  border-radius: 16px;
}

.contacts__adress h3 {
  width: 155px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: -2px;
}

.contacts__adress a,
.contacts__adress p {
  margin: 0;
  padding: 0;
  color: var(--basic-grey);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.contacts__adress p {
  width: 253px;
  margin-bottom: 23px;
}

.contacts__adress span {
  width: 253px;
}

.contacts__adress a {
  display: block;
  margin: 0;
  padding: 0;
  width: 137px;
  min-height: 13px;
  margin-bottom: 1px;
}

.contacts__adress a:hover,
.contacts__adress a:focus {
  color: var(--link-hover-footer);
}

.contacts__adress .daily-activity {
  display: block;
  width: 253px;
  margin-bottom: 27px;
}

.contacts__adress button {
  padding: 9px 16px 11px;
  width: 253px;
  min-height: 43px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  box-shadow: 0px 2px 2px var(--box-shadow);
}


/* pageset-number             pageset-number            pageset-number-active-noactive pageset-number-active-noactive  */
.page-set {
  display: flex;
  justify-content: flex-end;
  width: 1146px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 44px;
}

.page-set__pages-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 26px;
  width: 197px;
  margin: 0;
}

.page-set__pages-item {
  margin: 0;
  margin-left: 3px;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.page-set__page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  width: 26px;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.page-set__page-link--active {
  color: var(--basic-grey);
  background-color: var(--basic-white);
  border-radius: 50%;
}

.page-set__page-link:hover,
.page-set__page-link:focus {
  color: var(--basic-white);
  background-color: var(--white20-bg);
  border-radius: 50%;
  outline: none;
}

.page-set__page-link:active {
  color: var(--basic-grey);
  background-color: var(--basic-white);
  border-radius: 50%;
  outline: none;
}

.page-set__controls {
  width: 7px;
  height: 12px;
}

.page-set__pages-item {
  width: 27px;
}

.page-set .left {
  margin-right: 13px;
  background-image: url("/img/icon-left-small.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.page-set .right {
  margin-left: 17px;
  background-image: url("/img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.page-set .right:hover {
  cursor: pointer;
}


/* раздел для футера раздел для футера раздел для футера раздел для футера раздел для футера раздел для футера */

.footer_list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 1146px;
  padding: 5px 0 40px;
}

.foot_line {
  position: absolute;
  top: -14px;
  margin: 0 auto;
  width: 1146px;
  height: 1px;
  background-color: var(--white20-bg);
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 6px;
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 36px;
  height: 36px;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: 2px solid var(--social-outline50);
}

.footer__social-link:active {
  border: 2px solid var(--social-outline70);
}

.footer__social-link:hover,
.footer__social-link:focus {
  opacity: 1;
}


.footer__info-list {
  display: grid;
  grid-template-columns: 143px 185px;
  position: relative;
  width: 326px;
  min-height: 37px;
  margin-top: 8px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.footer__info-link a {
  display: flex;
  padding: 3px 0 1px 22px;
  margin: 0;
}

.footer__info-link--provider a {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 0;
  font-weight: 500;
}

.footer__info-link--provider a div {
  width: 15px;
  height: 13px;
  margin-right: 7px;
  padding-left: 0;
  background-image: url(/img/heart.svg);
}

.footer__info-link span {
  border-bottom: 1px solid var(--white20-bg);
}

.footer__info-link a:hover,
.footer__info-link a:focus,
.footer-copyright p>a:hover,
.footer-copyright p>a:focus {
  color: var(--link-hover-footer);
}

.footer__info-link a:hover span,
.footer__info-link a:focus span,
.footer-copyright p>a:hover span,
.footer-copyright p>a:focus span {
  border-bottom: 1px solid var(--link-hover-footer30);
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 190px;
  min-height: 62px;
  margin-left: 6px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.footer-copyright>a {
  display: flex;
  width: 108px;
  height: 39px;
}

.footer-copyright>a:hover,
.footer-copyright>a:focus {
  cursor: pointer;
}

.footer-copyright span {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid var(--white20-bg);
}


/* форма обратной связи форма обратной связи форма обратной связи форма обратной связи форма обратной связи форма обратной связи  */
.callback {
  display: none;
  position: absolute;
  top: 338px;
  left: 362px;
  width: 477px;
  min-height: 441px;
  margin: 0 calc(50% - 600px);
  padding: 20px 25px 23px 24px;
  box-shadow: 0px 20px 20px var(--box-shadow);
  border-radius: 6px;
  background-color: var(--basic-beige);
  box-sizing: border-box;
}

.callback-caption {
  display: inline-block;
}

.callback-caption p {
  position: relative;
  width: 438px;
  min-height: 37px;
  margin: 0 0 26px -1px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: var(--basic-grey);
  box-sizing: border-box;
}

.close-button,
.close-button:hover,
.close-button:active {
  position: absolute;
  width: 18px;
  height: 17px;
  margin: -5px -9px 10px 71px;
  padding: 0;
  background-color: var(--basic-beige);
  background-image: url(/img/cross-big.svg);
  background-repeat: no-repeat;
  border-radius: 0;
  box-shadow: 0 0 0 var(--transparent);
}

.close-button:focus {
  cursor: pointer;
}

.callback form {
  margin: 0;
  padding: 0;

}

.callback input {
  margin: 0;
  padding: 0;
  width: 267px;
  min-height: 44px;
  margin-bottom: 20px;
  padding-left: 14px;
  background-color: var(--basic-white);
  border: 1px solid var(--border-input);
  box-sizing: border-box;
  border-radius: 4px;
}

.callback textarea {
  width: 428px;
  min-height: 154px;
  margin: 0 0 26px 0;
  padding: 16px 14px;
  background-color: var(--basic-white);
  border: 1px solid var(--border-input);
  box-sizing: border-box;
  border-radius: 4px;
}

.callback form>button {
  width: 140px;
  min-height: 44px;
  margin: 0;
  padding: 0;
  margin-left: 288px;
  padding: 10px 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  box-sizing: border-box;
}
